/* TSOS.css */

body {
  background: #000000 repeat;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: white;
  font-size: 33pt;
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  padding-left: 350px;
  padding-right: 50px;
  text-align: center;
  font-family: Copperplate;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#DFDBC3;
  border: 2px solid red;
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

.normal_button {
  padding: 10px 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.normal_button:hover {background-color: #3e8e41}

.normal_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#currentDateAndTime {
  text-align: center;
  width: 300px;
  margin-left: 250px;
  border-radius: 15px;
  height: 20px;
}

#status {
  text-align: center;
  width: 100%;
  border-radius: 15px;
  height: 20px;
  align-content: center;
}

label {
  color: white;
  font-family: Cooperplate;
}

textarea {
  border-radius: 5px;
  font-family: Cooperplate;
  font-size: 12px;
}
